/shieldd
/shield
/shield-agent
/shield-schema
/docker-postgres*
/dummy
/elasticsearch
/mysql
/postgres
/redis-broker
/rabbitmq-broker
/s3
/fs
/scality
.DS_Store

# ignore release testing output
/artifacts

# where we keep coverage reports...
/coverage

# secrets
/ci/credentials.yml
