# ignore the binaries
/shieldd
/shield
/shield-agent
/shield-migrate
/shield-schema
/buckler
/shield-crypt
/shield-report

# ignore web cli downloads
/web/htdocs/cli

# stuff we use in t/*
/bin/vault
/bin/.init

# ignore the plugin
/azure
/backblaze
/bbr-deployment
/bbr-director
/cassandra
/consul
/consul-snapshot
/docker-postgres*
/dummy
/elasticsearch
/fs
/google
/mock
/mongo
/mysql
/postgres
/rabbitmq-broker
/redis-broker
/s3
/swift
/scality
/vault
/webdav
/xtrabackup

# ignore database we may create
*.db

# ignore release testing output
/artifacts
/help.all

# ignore the coverage reports
/coverage

# ignore tmp stuff from testdev
/tmp

# ignore travis test bins
/t/travis-bin
/vault.zip

# ignore testing files
cmd/shield-umc/shield-umc
cmd/shield-umc/main
oauth.conf
oauth.key
oauth.key.pub

# ignore the compiled assets for demo docker
demo/shield-agent/in
demo/shield-core/in
demo/shared
demo/cached
